.main-content .left-content{
  float: left;
  width: 240px;
  margin-left: 0px;
}
.main-content .right-content{
  float: left;
  width: 700px;
  margin-left: 40px;
}
.box.large-box.service-box .box-content{
  padding: 20px 28px 35px;
}
.box.large-box.service-box .box-content h3{
  color: #95c530;
  border-bottom: 1px dashed #95c530;
  padding-bottom: 5px;
}